[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=wg
WorkingDirectory=/home/wg/ottg/DOMAIN
EnvironmentFile=/home/wg/ottg/DOMAIN/.env

ExecStart=/home/wg/.local/share/virtualenvs/PIPENV/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target